@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-fI58p9E5WE5w_font-family: "Inter", sans-serif;
  --mixin-fI58p9E5WE5w_font-size: 16px;
  --mixin-fI58p9E5WE5w_font-weight: 400;
  --mixin-fI58p9E5WE5w_font-style: normal;
  --mixin-fI58p9E5WE5w_color: #535353;
  --mixin-fI58p9E5WE5w_text-align: left;
  --mixin-fI58p9E5WE5w_text-transform: none;
  --mixin-fI58p9E5WE5w_line-height: 1.5;
  --mixin-fI58p9E5WE5w_letter-spacing: normal;
  --mixin-fI58p9E5WE5w_white-space: pre-wrap;
  --mixin-fI58p9E5WE5w_user-select: text;
  --mixin-fI58p9E5WE5w_text-decoration-line: none;
  --mixin-fI58p9E5WE5w_text-overflow: clip;
  --mixin-d0WV7owjMP5M_color: #000000;
  --mixin-d0WV7owjMP5M_font-weight: 700;
  --mixin-d0WV7owjMP5M_font-size: 64px;
  --mixin-d0WV7owjMP5M_line-height: 1;
  --mixin-d0WV7owjMP5M_letter-spacing: -1px;
  --mixin-d0WV7owjMP5M_white-space: pre-wrap;
  --mixin-Ay5iQB6MSRt4_color: #000000;
  --mixin-Ay5iQB6MSRt4_font-size: 48px;
  --mixin-Ay5iQB6MSRt4_font-weight: 700;
  --mixin-Ay5iQB6MSRt4_letter-spacing: -0.5px;
  --mixin-Ay5iQB6MSRt4_line-height: 1.1;
  --mixin-Ay5iQB6MSRt4_white-space: pre-wrap;
  --mixin-6ai1IaKYiDHO_color: #0070f3;
  --mixin-6ai1IaKYiDHO_white-space: pre-wrap;
  --mixin-WBa-mxZZOQf0_color: #000000;
  --mixin-WBa-mxZZOQf0_font-size: 32px;
  --mixin-WBa-mxZZOQf0_font-weight: 600;
  --mixin-WBa-mxZZOQf0_line-height: 1.2;
  --mixin-WBa-mxZZOQf0_white-space: pre-wrap;
  --mixin-OY19fWEGq5Sj_color: #000000;
  --mixin-OY19fWEGq5Sj_font-size: 24px;
  --mixin-OY19fWEGq5Sj_font-weight: 600;
  --mixin-OY19fWEGq5Sj_line-height: 1.3;
  --mixin-OY19fWEGq5Sj_white-space: pre-wrap;
  --mixin-_SPGSdjkhPvI_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-_SPGSdjkhPvI_border-bottom-color: #dddddd;
  --mixin-_SPGSdjkhPvI_border-bottom-style: solid;
  --mixin-_SPGSdjkhPvI_border-bottom-width: 1px;
  --mixin-_SPGSdjkhPvI_border-left-color: #dddddd;
  --mixin-_SPGSdjkhPvI_border-left-style: solid;
  --mixin-_SPGSdjkhPvI_border-left-width: 1px;
  --mixin-_SPGSdjkhPvI_border-right-color: #dddddd;
  --mixin-_SPGSdjkhPvI_border-right-style: solid;
  --mixin-_SPGSdjkhPvI_border-right-width: 1px;
  --mixin-_SPGSdjkhPvI_border-top-color: #dddddd;
  --mixin-_SPGSdjkhPvI_border-top-style: solid;
  --mixin-_SPGSdjkhPvI_border-top-width: 1px;
  --mixin-_SPGSdjkhPvI_border-bottom-left-radius: 3px;
  --mixin-_SPGSdjkhPvI_border-bottom-right-radius: 3px;
  --mixin-_SPGSdjkhPvI_border-top-left-radius: 3px;
  --mixin-_SPGSdjkhPvI_border-top-right-radius: 3px;
  --mixin-_SPGSdjkhPvI_font-family: "Inconsolata";
  --mixin-_SPGSdjkhPvI_padding-bottom: 1px;
  --mixin-_SPGSdjkhPvI_padding-left: 4px;
  --mixin-_SPGSdjkhPvI_padding-right: 4px;
  --mixin-_SPGSdjkhPvI_padding-top: 1px;
  --mixin-_SPGSdjkhPvI_white-space: pre-wrap;
  --mixin-qNiuEgo0X-7A_border-left-color: #dddddd;
  --mixin-qNiuEgo0X-7A_border-left-style: solid;
  --mixin-qNiuEgo0X-7A_border-left-width: 3px;
  --mixin-qNiuEgo0X-7A_color: #888888;
  --mixin-qNiuEgo0X-7A_padding-left: 10px;
  --mixin-qNiuEgo0X-7A_white-space: pre-wrap;
  --mixin-kech_y_rT7BJ_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-kech_y_rT7BJ_border-bottom-color: #dddddd;
  --mixin-kech_y_rT7BJ_border-bottom-style: solid;
  --mixin-kech_y_rT7BJ_border-bottom-width: 1px;
  --mixin-kech_y_rT7BJ_border-left-color: #dddddd;
  --mixin-kech_y_rT7BJ_border-left-style: solid;
  --mixin-kech_y_rT7BJ_border-left-width: 1px;
  --mixin-kech_y_rT7BJ_border-right-color: #dddddd;
  --mixin-kech_y_rT7BJ_border-right-style: solid;
  --mixin-kech_y_rT7BJ_border-right-width: 1px;
  --mixin-kech_y_rT7BJ_border-top-color: #dddddd;
  --mixin-kech_y_rT7BJ_border-top-style: solid;
  --mixin-kech_y_rT7BJ_border-top-width: 1px;
  --mixin-kech_y_rT7BJ_border-bottom-left-radius: 3px;
  --mixin-kech_y_rT7BJ_border-bottom-right-radius: 3px;
  --mixin-kech_y_rT7BJ_border-top-left-radius: 3px;
  --mixin-kech_y_rT7BJ_border-top-right-radius: 3px;
  --mixin-kech_y_rT7BJ_font-family: "Inconsolata";
  --mixin-kech_y_rT7BJ_padding-bottom: 3px;
  --mixin-kech_y_rT7BJ_padding-left: 6px;
  --mixin-kech_y_rT7BJ_padding-right: 6px;
  --mixin-kech_y_rT7BJ_padding-top: 3px;
  --mixin-kech_y_rT7BJ_white-space: pre-wrap;
  --mixin-01qYzcKJmVvk_display: flex;
  --mixin-01qYzcKJmVvk_flex-direction: column;
  --mixin-01qYzcKJmVvk_align-items: stretch;
  --mixin-01qYzcKJmVvk_justify-content: flex-start;
  --mixin-01qYzcKJmVvk_list-style-position: outside;
  --mixin-01qYzcKJmVvk_padding-left: 40px;
  --mixin-01qYzcKJmVvk_position: relative;
  --mixin-01qYzcKJmVvk_list-style-type: disc;
  --mixin-01qYzcKJmVvk_white-space: pre-wrap;
  --mixin-GNH-jRBlKos__display: flex;
  --mixin-GNH-jRBlKos__flex-direction: column;
  --mixin-GNH-jRBlKos__align-items: stretch;
  --mixin-GNH-jRBlKos__justify-content: flex-start;
  --mixin-GNH-jRBlKos__list-style-position: outside;
  --mixin-GNH-jRBlKos__padding-left: 40px;
  --mixin-GNH-jRBlKos__position: relative;
  --mixin-GNH-jRBlKos__list-style-type: decimal;
  --mixin-GNH-jRBlKos__white-space: pre-wrap;
  --mixin-nS5k_2bG79SB_color: #000000;
  --mixin-nS5k_2bG79SB_font-size: 20px;
  --mixin-nS5k_2bG79SB_font-weight: 600;
  --mixin-nS5k_2bG79SB_line-height: 1.5;
  --mixin-nS5k_2bG79SB_white-space: pre-wrap;
  --mixin-FA0YMLcYRlUz_color: #000000;
  --mixin-FA0YMLcYRlUz_font-size: 16px;
  --mixin-FA0YMLcYRlUz_font-weight: 600;
  --mixin-FA0YMLcYRlUz_line-height: 1.5;
  --mixin-FA0YMLcYRlUz_white-space: pre-wrap;
  --mixin-vbAvNN7hiNLS_color: #3291ff;
  --mixin-vbAvNN7hiNLS_white-space: pre-wrap;
  --mixin-MdaulcIi1RyT_white-space: pre-wrap;
  --mixin-Du_BTUCdJY6w_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-fI58p9E5WE5w_font-family);
  font-size: var(--mixin-fI58p9E5WE5w_font-size);
  font-weight: var(--mixin-fI58p9E5WE5w_font-weight);
  font-style: var(--mixin-fI58p9E5WE5w_font-style);
  color: var(--mixin-fI58p9E5WE5w_color);
  text-align: var(--mixin-fI58p9E5WE5w_text-align);
  text-transform: var(--mixin-fI58p9E5WE5w_text-transform);
  line-height: var(--mixin-fI58p9E5WE5w_line-height);
  letter-spacing: var(--mixin-fI58p9E5WE5w_letter-spacing);
  white-space: var(--mixin-fI58p9E5WE5w_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-d0WV7owjMP5M_color);
  font-weight: var(--mixin-d0WV7owjMP5M_font-weight);
  font-size: var(--mixin-d0WV7owjMP5M_font-size);
  line-height: var(--mixin-d0WV7owjMP5M_line-height);
  letter-spacing: var(--mixin-d0WV7owjMP5M_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-Ay5iQB6MSRt4_color);
  font-size: var(--mixin-Ay5iQB6MSRt4_font-size);
  font-weight: var(--mixin-Ay5iQB6MSRt4_font-weight);
  letter-spacing: var(--mixin-Ay5iQB6MSRt4_letter-spacing);
  line-height: var(--mixin-Ay5iQB6MSRt4_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-6ai1IaKYiDHO_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-WBa-mxZZOQf0_color);
  font-size: var(--mixin-WBa-mxZZOQf0_font-size);
  font-weight: var(--mixin-WBa-mxZZOQf0_font-weight);
  line-height: var(--mixin-WBa-mxZZOQf0_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-OY19fWEGq5Sj_color);
  font-size: var(--mixin-OY19fWEGq5Sj_font-size);
  font-weight: var(--mixin-OY19fWEGq5Sj_font-weight);
  line-height: var(--mixin-OY19fWEGq5Sj_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-_SPGSdjkhPvI_font-family);
  border-radius: var(--mixin-_SPGSdjkhPvI_border-top-left-radius)
    var(--mixin-_SPGSdjkhPvI_border-top-right-radius)
    var(--mixin-_SPGSdjkhPvI_border-bottom-right-radius)
    var(--mixin-_SPGSdjkhPvI_border-bottom-left-radius);
  padding: var(--mixin-_SPGSdjkhPvI_padding-top)
    var(--mixin-_SPGSdjkhPvI_padding-right)
    var(--mixin-_SPGSdjkhPvI_padding-bottom)
    var(--mixin-_SPGSdjkhPvI_padding-left);
  border-top: var(--mixin-_SPGSdjkhPvI_border-top-width)
    var(--mixin-_SPGSdjkhPvI_border-top-style)
    var(--mixin-_SPGSdjkhPvI_border-top-color);
  border-right: var(--mixin-_SPGSdjkhPvI_border-right-width)
    var(--mixin-_SPGSdjkhPvI_border-right-style)
    var(--mixin-_SPGSdjkhPvI_border-right-color);
  border-bottom: var(--mixin-_SPGSdjkhPvI_border-bottom-width)
    var(--mixin-_SPGSdjkhPvI_border-bottom-style)
    var(--mixin-_SPGSdjkhPvI_border-bottom-color);
  border-left: var(--mixin-_SPGSdjkhPvI_border-left-width)
    var(--mixin-_SPGSdjkhPvI_border-left-style)
    var(--mixin-_SPGSdjkhPvI_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-qNiuEgo0X-7A_color);
  padding-left: var(--mixin-qNiuEgo0X-7A_padding-left);
  border-left: var(--mixin-qNiuEgo0X-7A_border-left-width)
    var(--mixin-qNiuEgo0X-7A_border-left-style)
    var(--mixin-qNiuEgo0X-7A_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-kech_y_rT7BJ_font-family);
  border-radius: var(--mixin-kech_y_rT7BJ_border-top-left-radius)
    var(--mixin-kech_y_rT7BJ_border-top-right-radius)
    var(--mixin-kech_y_rT7BJ_border-bottom-right-radius)
    var(--mixin-kech_y_rT7BJ_border-bottom-left-radius);
  padding: var(--mixin-kech_y_rT7BJ_padding-top)
    var(--mixin-kech_y_rT7BJ_padding-right)
    var(--mixin-kech_y_rT7BJ_padding-bottom)
    var(--mixin-kech_y_rT7BJ_padding-left);
  border-top: var(--mixin-kech_y_rT7BJ_border-top-width)
    var(--mixin-kech_y_rT7BJ_border-top-style)
    var(--mixin-kech_y_rT7BJ_border-top-color);
  border-right: var(--mixin-kech_y_rT7BJ_border-right-width)
    var(--mixin-kech_y_rT7BJ_border-right-style)
    var(--mixin-kech_y_rT7BJ_border-right-color);
  border-bottom: var(--mixin-kech_y_rT7BJ_border-bottom-width)
    var(--mixin-kech_y_rT7BJ_border-bottom-style)
    var(--mixin-kech_y_rT7BJ_border-bottom-color);
  border-left: var(--mixin-kech_y_rT7BJ_border-left-width)
    var(--mixin-kech_y_rT7BJ_border-left-style)
    var(--mixin-kech_y_rT7BJ_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-01qYzcKJmVvk_display);
  flex-direction: var(--mixin-01qYzcKJmVvk_flex-direction);
  align-items: var(--mixin-01qYzcKJmVvk_align-items);
  justify-content: var(--mixin-01qYzcKJmVvk_justify-content);
  list-style-position: var(--mixin-01qYzcKJmVvk_list-style-position);
  padding-left: var(--mixin-01qYzcKJmVvk_padding-left);
  position: var(--mixin-01qYzcKJmVvk_position);
  list-style-type: var(--mixin-01qYzcKJmVvk_list-style-type);
  flex-column-gap: var(--mixin-01qYzcKJmVvk_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-GNH-jRBlKos__display);
  flex-direction: var(--mixin-GNH-jRBlKos__flex-direction);
  align-items: var(--mixin-GNH-jRBlKos__align-items);
  justify-content: var(--mixin-GNH-jRBlKos__justify-content);
  list-style-position: var(--mixin-GNH-jRBlKos__list-style-position);
  padding-left: var(--mixin-GNH-jRBlKos__padding-left);
  position: var(--mixin-GNH-jRBlKos__position);
  list-style-type: var(--mixin-GNH-jRBlKos__list-style-type);
  flex-column-gap: var(--mixin-GNH-jRBlKos__flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-nS5k_2bG79SB_color);
  font-size: var(--mixin-nS5k_2bG79SB_font-size);
  font-weight: var(--mixin-nS5k_2bG79SB_font-weight);
  line-height: var(--mixin-nS5k_2bG79SB_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-FA0YMLcYRlUz_color);
  font-size: var(--mixin-FA0YMLcYRlUz_font-size);
  font-weight: var(--mixin-FA0YMLcYRlUz_font-weight);
  line-height: var(--mixin-FA0YMLcYRlUz_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-vbAvNN7hiNLS_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
